input {
  width: 100%;
  font-size: 1.2rem;
  color: #777;
}

.card {
  align-content: center;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 175px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}